config DRM_ZYNQMP_DPSUB
	tristate "ZynqMP DisplayPort Controller Driver"
	depends on ARCH_ZYNQMP || COMPILE_TEST
	depends on COMMON_CLK && DRM && OF
	depends on DMADEVICES
	depends on PHY_XILINX_ZYNQMP
	depends on XILINX_ZYNQMP_DPDMA
	select DMA_ENGINE
	select DRM_DISPLAY_DP_HELPER
	select DRM_DISPLAY_HELPER
	select DRM_GEM_DMA_HELPER
	select DRM_KMS_HELPER
	select GENERIC_PHY
	help
	  This is a DRM/KMS driver for ZynqMP DisplayPort controller. Choose
	  this option if you have a Xilinx ZynqMP SoC with DisplayPort
	  subsystem.

config DRM_XLNX_BRIDGE_VTC
	bool "Xilinx DRM VTC Driver"
	depends on OF
	help
	  DRM brige driver for Xilinx Video Timing Controller. Choose
	  this option to make VTC a part of the CRTC in display pipeline.
	  Currently the support is added to the Xilinx Video Mixer and
	  Xilinx PL display CRTC drivers. This driver provides ability
	  to generate timings through the bridge layer.

config DRM_XLNX_TPG
	bool "Xilinx DRM TPG Driver"
	depends on DRM && OF
	select DRM_XLNX_BRIDGE_VTC
	select VIDEOMODE_HELPERS
	help
	  CRTC driver based on AMD/Xilinx Test Pattern Generator IP. Choose
	  this driver to enable Test Pattern Generator CRTC. This driver
	  implements simplistic CRTC with the single plane and is perfect for
	  testing PL to PS and PL to PL display output pipelines.
